<div class="container pt-5">
    <div class="row">
      <div class="col-md-3 pt-4" *ngFor="let person of userList.results | filter:searchKey:'name'  | paginate: { itemsPerPage: 12, currentPage: page } ; let ind=index">

            <div class="card border-dark text-dark" >
                
                <img src={{person.image}} class="img-fluid card-img-top" alt="Responsive Card image cap">
                    
                <div class="px-3  d-flex overlay-text image-box">
                    <label class="card-data-label">#:</label>
                    <p class="card-data-text ">&nbsp;{{ind }}</p>
                </div>

                
                <div class="card-body">
                    <div class="card-title">
                        <p class="card--name">{{person.name | uppercase }}</p>
                    </div>
                    <div class="card-data">
                        <div class="d-flex ">
                            <label class="card-data-label" for="card--status">Status: </label>
                            <p class="card-data-text card--status">&nbsp;{{person.status}}</p>
                        </div>
                        <div class="d-flex ">
                            <label class="card-data-label">Gender: </label>
                            <p class="card-data-text card--gender">&nbsp;{{person.gender}}</p>
                        </div>
                        <div class="d-flex ">
                            <label class="card-data-label">Species: </label>
                            <p class="pl-1 card-data-text card--species">&nbsp;{{person.species}}</p>
                        </div>
                    </div>
                </div>
            </div>
         
      </div>
    </div>
    <div class="p-4 ">
         <pagination-controls (pageChange)="page = $event" previousLabel="anterior" nextLabel="siguiente"></pagination-controls>
    </div>
  </div>