

.card--name {
    font-weight: bold;
}

img {
    border-radius: 30px;
  }

.card {
    border-radius: 30px;
  }

 .card-data-label{
    font-weight: bold;
    font-size: 12px;

 }

 .card-data-text{
    font-size: 12px;

 }

 

.card-data-text[_ngcontent-rrd-c16] {
    font-size: 12px;
}
p {
    margin-bottom: 0.2rem;
}


.overlay-text {

    position: absolute;
   top: 10px;
   right: 15px;
}

.image-box{
    border-radius: 500px;
    background-color: white;
}